nav {
  position: relative;
  background: rgb(20, 18, 18);
  padding: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-nav {
  cursor: pointer;
  height: 25px;
  width: 50px;
  font-weight: 600px;
  background: rgb(20, 18, 18);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px, 0px 0px 11px;
  transition: ease-in;
  border: 3px none white ;
  transform-style: preserve-3d;
}

.menu {
  display: flex;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 5px;
  height: 150px;
  width: 180px;
  background: white;
  color: rgb(54, 43, 129);
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.menu li {
  list-style: none;
  padding: 0.4rem;
}

.menu li a {
  text-decoration: none;
  color: rgb(54, 43, 129);
}

.menu li:hover a {
  color: rgb(54, 43, 129);
  font-weight: 600;
}

@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

.menu--fade-in {
  animation: fadeFromRight 0.3s ease-in-out;
  height: 10px;
  width: 100px;
}

.menu--fade-out {
  animation: fadeToRight 0.3s ease-in-out;
}

.background {
  background-color: black;
  display: grid;
  place-items: center;
  height: 150px;
  border-radius: 25px;
}

footer p {
  font-weight: 500;
  color: #ffffff;
  line-height: initial;
}

footer {
  background-color: var(--bs-body-color);
  width: initial;
  align-items: center;
  box-sizing: border-box;
  height: inherit;
  text-align-last: center;
  border-width: initial;
  max-height: none;
  border-color: #362b81;
  text-shadow: #ffffff;
  border-radius: 25px;
}

html {
}

.carousel-item img {
  border-radius: 50px;
}

#carousel-1 {
  border-radius: 50px;
}

.carousel-item {
  border-radius: 50px;
}

.carousel-item {
  border-radius: 50px;
}

